body{
    background-color: #ff8882;
}

.clock{
    font-family: 'Chewy', cursive;
    font-size: 4rem;
    width: 20%;  
    margin: 0;
    text-align: center;
    margin-left: 40%;
}

.container{
    text-align: center;
}

.heading{
    font-family: 'Chewy', cursive;
    font-size: 2.7rem;   
    
}

.startbt{
    position: absolute;
    top: 75%;
    left: 39%;
    height:40px; 
    width:130px;
    border-radius: 12%;
    background-color: #f2e9d0 ;
    font-family: 'Chewy', cursive;
    font-size: 1.4rem;
    padding: 5px;
    border: 2px solid;
    box-shadow: 5px 5px 8px #0000009a;

}
.start:hover {background-color: #f1bc2a }

.startbt:active {
  background-color: #f2e9d0;
  transform: translateY(4px) translateX(3px);
}

.resetbt{
    position: absolute; 
    width:130px;
    height:40px; 
    left: 52%;
    top: 75%;
    border-radius: 12%;
    background-color: #f4eeff ;
    font-family: 'Chewy', cursive;
    font-size: 1.4rem;
    padding: 5px;
    border: 2px solid;
    box-shadow: 5px 5px 8px #0000009a;
}
.resetbt:hover {background-color: #c8c3d1 }

.resetbt:active {
  background-color: #f4eeff;
  transform: translateY(4px) translateX(3px);
}


#minutes {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
}

#seconds {
    width: 50%;
    margin: 0;
    float: right;
    text-align: center;
}

.show_message{
    display: block;
    font-size: 9rem;
    font-family: 'Chewy', cursive;
}