body{
    background-color: #ff8882;
}

.clock{
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    width: 100%;  /* still the clock appears vertical. dont know whats happening 😫 */
}

.container{
    text-align: center;
}

.heading{
    font-family: 'Chewy', cursive;
    font-size: 2.7rem;
}

.start{
    position: absolute;
    top: 75%;
    left: 39%;
    height:40px; 
    width:130px;
    border-radius: 12%;
    background-color: #f2e9d0 ;
    font-family: 'Chewy', cursive;
    font-size: 1.4rem;
    padding: 5px;
    border: 2px solid;
    box-shadow: 5px 5px 8px #0000009a;

}
.start:hover {background-color: #f1bc2a }

.start:active {
  background-color: #f2e9d0;
  transform: translateY(4px) translateX(3px);
}

.reset{
    position: absolute; 
    width:130px;
    height:40px; 
    left: 52%;
    top: 75%;
    border-radius: 12%;
    background-color: #f4eeff ;
    font-family: 'Chewy', cursive;
    font-size: 1.4rem;
    padding: 5px;
    border: 2px solid;
    box-shadow: 5px 5px 8px #0000009a;
}
.reset:hover {background-color: #c8c3d1 }

.reset:active {
  background-color: #f4eeff;
  transform: translateY(4px) translateX(3px);
}

.timer{
    position: absolute;
    top: 120px;
    left: 550px;        
    font-size: 9rem;
    font-family: 'Chewy', cursive;
}

#minutes, #colon, #seconds {
    display:inline;
    
}

.show_message{
    display: block;
    font-size: 9rem;
    font-family: 'Chewy', cursive;
}